Source: tuxguitar-gpxplugin
Section: misc
Priority: optional
Maintainer: BlankOn Developers <blankon-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4

Package: tuxguitar-gpxplugin
Architecture: all
Depends: ${misc:Depends}
Provides: tuxguitar
Description: Tuxguitar's plugin for reading latest guitar pro files
  (.gpx files)
